{% extends 'home/base.html' %}
{% block body_block %}
<section class="cta_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="cta_text text-center">
                  <h2>Please Login</h2>
                    <form method="post" action="{% url 'home:user_login' %}">
                      {% csrf_token %}
                      {# A more "HTML" way of creating the login form#}
                      <input type="text" name="username" placeholder="Username">
                      <input type="password" name="password" placeholder="Password">
                      <input class="btn_2 banner_btn_1" type="submit" name="" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
