{% extends "account/base.html" %}
{% load static %}
{% block styleblock %}
<link rel="stylesheet" href="{% static "css/tree/hierarchy-view.css" %}">
<link rel="stylesheet" href="{% static "css/tree/main.css" %}" >
{% endblock %}
{% block body_block %}
{% load static %}
<!-- Main component -->
<section class="basic-style">
  <div class="hv-container">
      <div class="hv-wrapper">
            {% if families %}

            {% for index, subfamily in families.items %}
          <div class="hv-item">
            {% for family in subfamily %}
            <div class="hv-item">
            <div class="hv-item-parents">

            {% if family.0.sex %}
                  <div class="hv-item-parent hv-item-parent-left">
                      <p class="simple-card-male">{{ subfamily.0.user.username }}</p>
                  </div>
                  <div class="hv-item-parent hv-item-parent-right">
                      <p class="simple-card-female"> {{ subfamily.1.user.username }}</p>
                  </div>
            {% else%}
                  <div class="hv-item-parent hv-item-parent-left">
                    <p class="simple-card-male">{{ subfamily.1.user.username }}</p>
                </div>
                <div class="hv-item-parent hv-item-parent-right">
                    <p class="simple-card-female"> {{ subfamily.0.user.username }}</p>
                </div>
          </div>
            {% endif %}
          </div>
              {% endfor %}
              {% endfor %}
              {% endif %}
        </div>
    </div>
</section>
{% endblock %}
