{% extends "account/base.html" %}
{% load static %}
{% block styleblock %}
<link rel="stylesheet" href="{% static "css/tree/hierarchy-view.css" %}">
<link rel="stylesheet" href="{% static "css/tree/main.css" %}" >
<script>window.jQuery || document.write('<script src="{% static "js/jquery-1.9.1.min.js" %}"><\/script>')</script>
{% endblock %}
{% block body_block %}
{% load static %}
<!-- Main component -->
{% if genes %}
<p>User</p><input id='UserChoise' type="text" value="">
<select id='DeseaseChoose' >
  <option name='default' value='-'>Choose</option>
  {% for gene in genes %}
      <option name='gene.NCIB_ID' value="{{ gene.NCIB_ID }}">{{ gene.name }}</option>
  {% endfor %}
</select>
{% endif %}
{% if UserFamily %}
<section class="basic-style">
  <div class="hv-container">
      <div class="hv-wrapper">
            <div class="hv-item">
              <div class="hv-item-pseudo-parents">
            {% for index, subfamily in UserFamily.items %}
              <div class="hv-item-parents">
              <div class="hv-item-children">
            {% for member in subfamily %}

            {% if index == 10000 %}
                {% if member.user.username == 'BlankDad' %}
                          <div class="hv-item-child">
                              <p id="{{ member.user.username }}" class="simple-card-male BlankUser">+</p>
                              <p id="{{ member.user.username }}_text" ></p>
                          </div>
                  {% elif member.username == 'BlankMom' %}
                          <div class="hv-item-child">
                              <p id="{{ member.user.username }}" class="simple-card-female BlankUser">+</p>
                              <p id="{{ member.user.username }}_text" ></p>
                          </div>
                  {% else %}
                  {% if member.sex %}
                          <div class="hv-item-child">
                              <p id="{{ member.user.username }}" class="simple-card-male">{{ member.user.username }}</p>
                              <p id="{{ member.user.username }}_text" ></p>
                          </div>
                  {% else %}
                          <div class="hv-item-child">
                              <p id="{{ member.user.username }}" class="simple-card-female">{{ member.user.username }}</p>
                              <p id="{{ member.user.username }}_text" ></p>
                          </div>
                  {% endif %}
                  {% endif %}
            {% else%}
                {% if member.mom.user.username == 'BlankMom'%}
            <div class="hv-item-child">
            <div class="hv-item-parents">
                  <div class="hv-item-parent hv-item-parent-left">
                    <p id="{{ member.mom.user.username }}" class="simple-card-female BlankUser">+</p>
                    <p id="{{ member.mom.user.username }}_text"></p>
                </div>
                <div class="hv-item-parent hv-item-parent-right">
                    <p id="{{ member.dad.user.username }}" class="simple-card-male"> {{ member.dad.user.username }}</p>
                    <p id="{{ member.dad.user.username }}_text" ></p>
                </div>
          </div>
          </div>
                {% elif member.dad.user.username == 'BlankDad' %}
                <div class="hv-item-child">
                <div class="hv-item-parents">
                      <div class="hv-item-parent hv-item-parent-left">
                        <p id="{{ member.mom.user.username }}" class="simple-card-female ">{{ member.mom.user.username }}</p>
                        <p id="{{ member.mom.user.username }}_text"></p>
                    </div>
                    <div class="hv-item-parent hv-item-parent-right">
                        <p id="{{ member.dad.user.username }}" class="simple-card-male BlankUser">+</p>
                        <p id="{{ member.dad.user.username }}_text" ></p>
                    </div>
              </div>
              </div>
              {% else %}
              <div class="hv-item-child">
              <div class="hv-item-parents">
                    <div class="hv-item-parent hv-item-parent-left">
                      <p id="{{ member.mom.user.username }}" class="simple-card-female">{{ member.mom.user.username }}</p>
                      <p id="{{ member.mom.user.username }}_text"></p>
                  </div>
                  <div class="hv-item-parent hv-item-parent-right">
                      <p id="{{ member.dad.user.username }}" class="simple-card-male"> {{ member.dad.user.username }}</p>
                      <p id="{{ member.dad.user.username }}_text" ></p>
                  </div>
            </div>
            </div>
                  {% endif %}
            {% endif %}
          </div>
              {% endfor %}
            </div>

              {% endfor %}
          </div>
        </div>

    </div>
    </div>
{% endif %}
{% if PartnerFamily %}
  <div class="hv-container">
      <div class="hv-wrapper">
            <div class="hv-item">
              <div class="hv-item-pseudo-parents">
            {% for index, subfamily in PartnerFamily.items %}
              <div class="hv-item-parents">
              <div class="hv-item-children">
            {% for member in subfamily %}

                  {% if index == 10000 %}
                  {% if member.sex %}
                          <div class="hv-item-child">
                              <p id="{{ member.user.username }}" class="simple-card-male">{{ member.user.username }}</p>
                              <p id="{{ member.user.username }}_text" ></p>
                          </div>
                  {% else %}
                          <div class="hv-item-child">
                              <p id="{{ member.user.username }}"class="simple-card-female">{{ member.user.username }}</p>
                              <p id="{{ member.user.username }}_text" ></p>
                          </div>
                  {% endif %}
            {% else%}
            <div class="hv-item-child">
            <div class="hv-item-parents">
                  <div class="hv-item-parent hv-item-parent-left">
                    <p id="{{ member.mom.user.username }}" class="simple-card-female">{{ member.mom.user.username }}</p>
                    <p id="{{ member.mom.user.username }}_text"></p>
                </div>
                <div class="hv-item-parent hv-item-parent-right">
                    <p id="{{ member.dad.user.username }}" class="simple-card-male"> {{ member.dad.user.username }}</p>
                    <p id="{{ member.dad.user.username }}_text" ></p>
                </div>
          </div>
          </div>
            {% endif %}
          </div>
              {% endfor %}
            </div>

              {% endfor %}
          </div>
        </div>

    </div>
    </div>
</section>
{% endif %}
<script>
  var sex={'True':true,'False':false}
  var DeseaseCarrier={
    {% if carrier %}{% for member in carrier %}'{{ member.user_id.user.username }}':sex['{{ member.user_id.sex }}'],{% endfor %}{% endif %}
  }


  {% if UserGenotypes %}
  var GeneDict={
      {% if UserGenotypes.0.user.desease.inheritance == 'recessive' %}
                1:'healthy',0.5:'carrier',0:'sick'
                  {% else %}
                  1:'sick',0.5:'carrier',0:'healthy'
                  {% endif%}
            }
      {% for user in UserGenotypes %}
      $('#{{user.ID}}').html('{{user.ID}} <br />'+GeneDict[{{ user.desease.genotype }}]+' with '+(Math.round(({{ user.desease.possibility }}*100)))+'% possibility');
      {% endfor %}
  {% endif %}


function ColourCarriers(){
  for (var i in DeseaseCarrier) {
    if (DeseaseCarrier[i]){
      $('#'+i).removeClass('simple-card-male');
      $('#'+i).addClass('simple-card-male-desease');
    }else{
      $('#'+i).removeClass('simple-card-female');
      $('#'+i).addClass('simple-card-female-desease');
    }
  }
}

      $('#DeseaseChoose').change(function(){
        var user=$('#UserChoise').val();
          window.location.href = "/test/family-test/"+$("#DeseaseChoose>option:selected").val()+"/"+user;
      });

      $(window).load(function(){
        ColourCarriers();
      });
  </script>
{% endblock %}
